%form{method: :get, action: url('/echo'), role: 'form'}
  .form-group
    %label{for: 'data'} Data:
    %input.form-control{type: 'text', name: 'data', placeholder: 'data'}
  %button.btn.btn-primary{type: 'submit'} Send
  %button.btn.btn-default{type: 'reset'} Clear
